@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #10575c;
}
/*---navigation--*/
#myTab{
    background-color:#10575c;
    color: white;
    text-transform:uppercase;
    font-weight:700;
    font-size: 14px;
    letter-spacing: .1rem;
}
.nav-link{
    color: white;
    text-transform: uppercase;
}
/*---landing page--*/
.clearfix ::after {
    content: '';
    display: block;
    clear: both;
}
a:hover {
    color: #6eb1cc;
}
.article-title{
    color: black;
}
.article-title:hover {
    color: #052d3d ;
}
.btn{
    padding: .3rem .5rem;
    background: #10575c;
    color: #052d3d;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn:hover {
    color: white !important;
    background:#052d3d ;
}
.caption-home{
    width:100%;
    max-width:100%;
    padding-top: 20px; 
    padding-bottom: 500px;
    padding-right: 50px;
    background-image: url(source/cross.jpg);
    background-size: 100% 100%;
}
.first{
    
    max-width: 100%;
    padding-top: 20px; 
    padding-bottom: 200px;
    margin-right: 150px;
    margin-left: 150px;
    background-size: cover;
}

.caption-home h1{
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: .3rem;
    padding-top:150px;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color:white;
    text-shadow: .1rem .1rem .5rem black;
}
.caption-home h2{
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: .1rem .1rem .5rem black;
}
.bible-quote{
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
}

/*--CONTENT--*/
.content{
    width:90%;
    margin: 30px auto 30px;
    border: 1px solid gray;
}

.content .main-content {
    width: 70%;
    float: left;
    border: 1px solid #274564;
}
.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .main-content .post .read-more{
    position: absolute;
    bottom:  2px;
    right: 2px;
    border: 1px solid #6eb1cc;
    background: transparent;
    border-radius: 0px;
     color: #10575c;
}
.content .main-content .post .read-more:hover{
    background-color: #10575c;
    color: white!important;
    transition: .25s;

}
.content .main-content .post .post-image{
    width: 40%;
    height: 170%;
    float: left;
}
.content .main-content .post .post-preview{
    width: 60%;
    padding: 15px;
    float: right;
}

.content .main-content .recent-post-title{
    margin: 20px;
}
.content .sidebar{
    width: 30%;
    float: left;
    border: 1px dashed green;
    height: 300px;
}
#visit{
    color: whitesmoke;
    font-weight: 200;
    text-align: justify;
    margin-left: 2rem;
    margin-bottom: 50px;
}
.vision{
    color: antiquewhite;
    padding-left: 30px;
    padding-right: 30px;
    
}
.contact{
    color: white;
    text-shadow: .1rem .1rem black;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 200px;
}
.address{
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 200px;
    color: white;
    text-shadow: .1rem .1rem black;
}
img{
    padding-bottom: 200px;
}
#article{

}
#adres{
    padding-bottom: 20px;
}
p{
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-right: 100px;
}
h3{
    text-align: center;
    padding-bottom: 2rem;
}
h4{
    padding-top: 15px;
    padding-left: 40px;
}

footer{
    background-color:#10575c ;
    opacity:1;
    color: white;
    padding-left: 2rem;
}
#schedule{
    padding-bottom: 25px;
}
